body,head{
    background: linear-gradient(
        to right,
        rgb(113, 48, 48),
        black,
        rgb(90, 31, 31)
       
      
     
    );
   height:100vh;
}

nav{
    background-color: bisque;
    text-emphasis: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}



a{
    border-radius: 5px;
    text-decoration: none;
    color: black;


}
