/* Estilização geral */
*{
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

nav {
    background-color: #F5F5BD;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}


nav ul{

    justify-content: space-between;
    gap: 3px;
    display: inline-block;
    list-style: none;
    display: flex;
    margin-right: 20px;

}

li, a{
    background-color: #F5F5BD;
    padding: 7px 7px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    justify-content: center;

}


/* Estilização do formulário */
form {
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 35%;
    width: 400px;
    align-items: center;
    display: flex;
    background-color: rgb(135, 143, 255);
    flex-direction: column;
    border-radius: 3px black;
    gap: 15px;
   
}


/* Botão de envio */
button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Hover no botão */
button:hover {
    background-color: #0056b3;
}









 


