body,head{
   height:100%;
}

.alluia{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}



a{
    border-radius: 5px;
    text-decoration: none;
    color: black;


}
