{% extends "base.html" %}

{% block title %}Página de Administração{% endblock title %}

{% block container %}

<h1>Pedidos</h1>
<ul>
    {% for i in pedidos %}
        <li>
            <b>{{ i["descricao"] }}</b>
            <p>Status: {{ i["status"] }}</p>
                {% for k,j in get_adress_by_cep(i.destinatario).items() %}
                <li>
                    {{k}} : {{j}}
                </li>    
                {% endfor %}
            <p>Entregador: {{ i["entregador"] }}</p>
            <p>ID: {{ i["id"] }}</p>

            <a href="/editdelivery/{{i.id}}">
                <button>Editar entrega</button>
            </a>
        </li>
    {% endfor %}
</ul>

<h1>Usuários</h1>
<ul>
    {% for cpf, usuario in usuarios.items() %}

        <li>
            <b>{{ usuario["nome"] }}</b>
            <p>CPF: {{ cpf }}</p>
            <p>Email: {{ usuario["email"] }}</p>
            <p>Telefone: {{ usuario["tel"] }}</p>

            <a href="/editprofile/{{cpf}}">
                <button>Editar Perfil</button>
            </a>
        </li>

    {% endfor %}
</ul>

{% endblock container %}
