<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock title %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('client')}}">Usuario</a>
                </li>
                <li>
                    <a href="{{url_for('createdelivery')}}">Criar Entrega</a>
                </li>
                <li>
                    <a href="{{url_for("deliverer")}}">Entregador</a>
                </li>
                <li>
                    <a href="{{url_for('login')}}">Login</a>
                </li>
                <li>
                    <a href="{{url_for('signup')}}">SignUp</a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}">Logout</a>
                </li>
                    <a href="{{url_for('login')}}">Login</a>
            </ul>
        </nav>
    </header>
    {% block container %}

    {% endblock container %}
</body>
</html>