{% extends "base.html" %}

{% block title %}Index?{% endblock title %}

{% block container %}
<link rel="stylesheet" href="style.css">
    <div class="supCD">
        <div class="vou1">
            <h1 class="mecome">fox expless</h1>
            <svg width="400" height="400" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 3h12v10h-12v-10zm14 4h4l3 4v6h-3v-4h-4v-6zm-9 11c1.104 0 2 .896 2 2s-.896 2-2 2-2-.896-2-2 .896-2 2-2zm10 0c1.104 0 2 .896 2 2s-.896 2-2 2-2-.896-2-2 .896-2 2-2z"/>
            </svg>
            
        </div>
        <div class="corpo_criacao1">
            <h1 class="titi">Criar Entrega</h1>
            <p class="simbolo2">&#9992;</p>
            <form class="form_create1" action="{{url_for('createdelivery')}}" method="POST" >
                <label class="">Produto:</label>
                <input class="inputcreate" type="text" name="descricao" placeholder="Ex:preservativo">
                <label class="">Destinatário:</label>
                <input class="inputcreate" type="text" name="destinatario" placeholder="CEP">
                <button class="meubotao" type="submit">Solicitar</button>
            </form>
        </div>
    </div>




{% endblock container %}