{% extends "base.html" %}

{% block title %}Index?{% endblock title %}

{% block container %}

<title>Faça Login</title>
<form action="{{url_for('login')}}" method="POST">

    <!--CPF-->
    <div class="form-group">
        <label for="#">CPF</label>
        <input type="number" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00">
    </div>

    <!--E-mail-->
    <div class="form-group">
      <label for="#">E-mail</label>
      <input type="email" class="form-control" name="email" id="" aria-describedby="emailHelp" placeholder="example@email.com">
      <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
    </div>

<!--<form action="{{url_for('login')}}" method="POST" >
    <input type="text" name="cpf" id="cpf">
    <input type="password" name="password" id="password">
    <button type="submit">login</button>
</form>-->


{% endblock container %}