{% extends "base.html" %}

{% block title %}Index?{% endblock title %}

{% block container %}

<title>Faça Login</title>

    <!-- Senha -->
    <div class="form-group">
        <label for="#">Senha</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="">
    </div>

<form action="{{url_for('login')}}" method="POST" >
    <input type="text" name="cpf" id="cpf">
    <input type="password" name="password" id="password">
    <button type="submit">login</button>
</form>


{% endblock container %}