{% extends "base.html" %}

{% block title %}register{% endblock title %}

{% block container %}

<form action="{{url_for('signup')}}" method="POST">

    <!--CPF-->
    <div class="form-group">
      <label for="#">CPF</label>
      <input type="text" class="form-control" id="" name="cpf" placeholder="">
    </div>

    <!--E-mail-->
    <div class="form-group">
      <label for="#">E-mail</label>
      <input type="email" class="form-control" name="email" id="" aria-describedby="emailHelp" placeholder="Seu email">
      <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
    </div>
    
    <!--Nome-->
    <div class="form-group">
      <label for="#">nome</label>
      <input type="text" class="form-control" id="" name="name" placeholder="seunome">
    </div>

    <!--telefone-->
    <div class="form-group">
      <label for="#">Telefone</label>
      <input type="tel" class="form-control" id="tel" name="telefone" placeholder="">
    </div>

    <div class="form-group">
      <label for="#">Senha</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="suasenha">
    </div>
    <!--Seleção entregador-->
    <div class="form-group">
      <label for="#">Você é um entregador?</label>
      <input type="checkbox" name="entregador">

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" name="entregador" id="">
        <label class="" for="#">Sou entregador</label>
      </div>
        <button type="submit">Criar</button>
    </div>

    
  </form>

    <!--<form action="{{url_for('signup')}}" method="POST" >
        <input type="text" name="cpf">
        <input type="email" name="email">
        <input type="text" name="nome">
        <input type="tel" name="telefone">
        <input type="password" name="password" id="password">
        <input type="checkbox" name="entregador">

        <button type="submit">create account</button>
    </form>-->

{% endblock container %}